@charset "utf-8";

body{
	background-color: rgb(30,144,255);
}
p#roda{
	text-align: center;
	color: white;
	font-size: 20px;
	position: relative;
	top: 10px;
}
header#cabecalho{
	border-bottom: 1px #ffffff solid;
	height: 150px;
}
header#cabecalho h1{
	font-family: andalus, sans-serif;
	font-size: 30pt;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-top: 0px;
}
header#cabecalho h2{
	font-family: courier, sans-serif;
	color: #ffffff;
	font-size: 20pt;
	padding: 0px;
	margin-bottom: 0px: 
}
nav#menu{
	display: block;
}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;	
	position: absolute;
	top: -20px;
	left:50%;
	margin-left: -230px;
}

nav#menu li{
	display: inline-block;
	background-color:rgb(30,144,255);
	padding: 5px;
	margin: 4px;
	transition: background-color 1s;
}
nav#menu li:hover{
	background-color: #606060;
}
nav#menu a{
	color: #ffffff;
	text-decoration: none;

}
nav#menu a:hover {
	color: yellow;
}
section#corpo{
	display: block;
	}
footer#rodape{
	clear: both; 
	
}
p#roda a{
	color: #ffffff;
}
p#roda a:hover {
	color: yellow;
}